@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);



.timer-page {
     height: 90vh;
     width: 100%;
     display: flex;

     .onof-timer {
          height: 44.5vw;
          width: 30%;
          .timer-page-heading {
               font-size: 2vw;
               color: #326273;
               margin-top: 1.5vw;
               font-weight: bold;
          }

          .set-margin {
               margin-left: 3.5vw;
          }

          .timer-count {
               font-size: 4vw;
          }

          .speed {
               margin-left: 12.4vw;
               font-size: 1.3vw;
          }

          .timer-page-buttons {
               display: grid;
               grid-template-columns: 1fr 1fr 1fr 1fr;
               grid-template-rows: 1fr;
               margin-top: 3vw;
               height: 2.4vw;
               width: 55%;
          }
     }
     .stored-data{
          height: 44.5vw;
          width: 30%;
          .stored-data-heading{
               margin-top: 2vw;
               font-size: 2vw;
               color: #326273;
               font-weight: bold;
          }
          .show-time{
               width: 90%;
               height: 35vw;
               border: 1px solid gray;
               border-radius: 1vw;
               p{
                    margin-left: 5%;
                    margin-top: 2%;
               }
               .show-tim{
                    font-size: 3vw;
                    color: #326273;
               }
          }
     }

}