

.insta-card {
     height: 350px;
     flex: 0 0 calc(100% / 3);
     background-color: #fff;
     border: 1px solid #bdc3c7;
     border-radius: 20px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     margin-right: 10px;
     transition: margin-right 0.3s;
   
     &:last-child {
       margin-right: 0;
     }
   
     h2 {
       font-size: 1.5rem;
       margin-bottom: 10px;
     }
   
     p {
       font-size: 1rem;
       color: #555;
     }
     .inner-insta-card{
          height: 90%;
          width: 100%;
          background-image: url("../../../../images/solution-div-1.jpg");
          background-size: cover;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
     }
     .insta-cardiname{
          font-size: .7vw;
     }
   }