@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);




.signUp-page {
     height: 90vw;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;

     .login-inner {
          height: 42vw;
          width: 50vw;
          border-radius: 1vw;
          background: linear-gradient(to top right,
                    #FFFFFF 40%,
                    #132A13,
               );
          box-shadow: 1px 1px 20px 1px #EEEEEE;
          .login-title {
               text-align: center;
               font-size: 2.5vw;
               font-weight: bold;
               margin-top: 1vw;
          }

          .close-icon{
               position: relative;
               margin-left: 95%;
               top: -8%;
               cursor: pointer;
               color: white;
               font: 1vw;
          }

          .input-margin1 {
               margin-top: 3%;
          }

          .input-margin2 {
               margin-top: 3%;
               margin-bottom: 2%;
          }

          .login-input {
               outline: none;
               border: 1px solid #d0cdcd;
               width: 50%;
               height: 3vw;
               margin-left: 25%;
               border-radius: .5vw;
               padding: 1%;
               font-size: 1vw;
          }

          .forgot-password {
               text-align: center;

               p {
                    color: #132A13;
                    font-size: 1vw;
               }
          }

          .login-button {
               margin-top: 2%;
               margin-left: 25%;
               height: 3vw;
               width: 50%;
               background-color: #4F772D;
               color: #FFFFFF;
               font-size: 1vw;
               border-radius: .5vw;
          }

          .signUp-link {
               margin-top: 2%;
               text-align: center;
               font-size: 1vw;

               a {
                    color: blue;
               }
          }

          .or-section {
               display: flex;

               .section1 {
                    height: .1vw;
                    width: 23%;
                    margin-top: 5%;
                    margin-left: 25%;
                    background-color: #d0cdcd;
               }

               p {
                    margin-top: 3.3%;
                    padding-left: 1%;
                    padding-right: 1%;
               }

               .section2 {
                    height: 1px;
                    width: 23%;
                    margin-top: 5%;
                    background-color: #979393;
               }
          }

          .orSection-buttons {
               display: flex;
               flex-direction: column;

               .login-others {
                    display: flex;
                    align-items: center;
                    background-color: #4F772D;
                    height: 3vw;
                    width: 50%;
                    margin-left: 25%;
                    border-radius: .5vw;
                    margin-top: 2%;
                    font-size: 1.1vw;
                    color: #FFFFFF;

                    .facebook-logo {
                         height: 65%;
                         width: 8%;
                         border-radius: 50%;
                         margin-left: 4%;
                         margin-right: 15%;
                         background-image: url("../../images/facebook-logo.png");
                         background-size: cover;
                    }

                    .google-logo {
                         height: 65%;
                         width: 8%;
                         border-radius: 50%;
                         margin-left: 4%;
                         margin-right: 15%;
                         background-image: url("../../images/google-logo.png");
                         background-size: cover;
                    }
               }
          }
     }

}